/public/hot
/node_modules
/storage/*.key
/resources/js
/resources/css
/tests
composer.json
composer.lock
package.json
package-lock.json
README.md
jsconfig.json
tailwind.config.js
webpack.mix.js
.styleci.yml
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
